<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bonjour{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color:red; color: white">
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
