{% extends 'base.html.twig' %}
{% block title %}Hello{% endblock %}
{% block body %}
    {% if user.name is not defined %}
        <h1>Welcome to Lens stranger</h1>
    {% else %}
        <h1>Welcome to Lens</h1>
    {% endif %}
{% endblock %}